.App {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(218, 233, 247);
    height: 100vh;
}

.container {
    align-content: center;
    background-color: rgb(221, 221, 221);
    box-shadow: 18px 18px 25px #cbcbcb, -18px -18px 25px #ffffff;
    border-radius: 20px;
    width: 90vw;
}

h3 {
    color: #777777;
}

.card {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    border-radius: 10px;
}

.card:hover {
    background: linear-gradient(145deg, #ffffff, #e2e8ec);
    box-shadow: 4px 4px 8px #ffffff, -4px -4px 8px #cbcbcb;
    border-radius: 10px;
}

.btn {
    color: #000;
    background: linear-gradient(120deg, #d1d6da, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    border: none;
    border-radius: 6px;
}

.btn:hover {
    background: linear-gradient(120deg, #ffffff, #d1d6da);
    box-shadow: 8px 8px 12px #ffffff, -4px -4px 8px #cbcbcb;
    color: #000;
    transform: translateY(-6px);
    border: none;
}

.check {
    color: #7dc031;
}

.times {
    color: #a10000;
}

@media screen and (max-width: 767px) {
    .App {
        height: auto;
    }
    .container {
        margin: 50px 0 50px 0;
        ;
    }
}